PyCity Schools Analysis

In [33]:
#import pandas
import pandas as pd

In [34]:
#create path to csvs
schools_csv = '/Users/meganflinders/Desktop/Bootcamp/Repos/pandas-challenge/pandas-challenge/PyCitySchools/Resources/schools_complete.csv'
students_csv = '/Users/meganflinders/Desktop/Bootcamp/Repos/pandas-challenge/pandas-challenge/PyCitySchools/Resources/students_complete.csv'

In [35]:
#read csvs into dataframes
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

In [36]:
students_schools = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
students_schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [37]:
#find total number of unique schools
school_count = students_schools['school_name'].nunique()
school_count

15

In [38]:
#find total number of students
student_count = students_schools['Student ID'].nunique()
student_count

39170

In [39]:
#find total budget for the school district
total_budget = schools_df['budget'].sum()
total_budget

24649428

In [40]:
#find students average math score
average_math = students_schools['math_score'].mean()
average_math

78.98537145774827

In [41]:
#find students average reading score
average_reading = students_schools['reading_score'].mean()
average_reading

81.87784018381414

In [44]:
#find the percentage of students that pass math
pass_math_count = students_schools[(students_schools["math_score"] >= 70)].count()["student_name"]
pass_math_percentage = (pass_math_count / student_count) * 100
pass_math_percentage

74.9808526933878

In [45]:
#find the percentage of students that pass reading
pass_reading_count = students_schools[(students_schools["reading_score"] >= 70)].count()["student_name"]
pass_reading_percentage = (pass_reading_count / student_count) * 100
pass_reading_percentage

85.80546336482001

In [46]:
#find the percentage of students that pass math and reading
pass_math_reading_count = students_schools[(students_schools["math_score"] >= 70) & (students_schools["reading_score"] >= 70)].count()["student_name"]
pass_math_reading_percentage = (pass_math_reading_count / student_count) * 100
pass_math_reading_percentage

65.17232575950983

In [55]:
#create a summary of the district's key metrics in a datafram
district_summary = pd.DataFrame({'Total Schools': [school_count], 'Total Students': student_count, 'Total Budget': total_budget, 'Average Math Score': average_math, 'Average Reading Score': average_reading, '% Passing Math': pass_math_percentage, '% Passing Reading': pass_reading_percentage, '% Overall Passing': pass_math_reading_percentage})
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [56]:
#set school type
school_types = schools_df.set_index(['school_name'])['type']

In [57]:
#find the number of students per school
students_per_school = students_schools['school_name'].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [59]:
budget_per_school = students_schools.groupby(['school_name'])['budget'].mean()
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [60]:
#find the per student budget
budget_per_student = budget_per_school / students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [61]:
avg_math_per_school = students_schools.groupby(['school_name'])['math_score'].mean()
avg_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [62]:
avg_reading_per_school = students_schools.groupby(['school_name'])['reading_score'].mean()
avg_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [66]:
#find the percentage of students passing math in each school

KeyError: 'school_name'